# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2

# JavaScript
[*.js]
indent_style = space
indent_size = 2

# YAML
[*.yml]
indent_style = space
indent_size = 3

# JSON
[*.json]
indent_style = space
indent_size = 2

# SHELL
[*.sh]
indent_style = space
indent_size = 2
