[Unit]
Description=PM2 next gen process manager for Node.js
After=network.target remote-fs.target

[Service]
Type=forking
User=%USER%

ExecStart=/bin/sh -c 'env PATH=$PATH:%NODE_PATH% pm2 resurrect'
ExecReload=/bin/sh -c 'env PATH=$PATH:%NODE_PATH% pm2 reload all'

ExecStop=/bin/sh -c 'env PATH=$PATH:%NODE_PATH% pm2 dump'
ExecStop=/bin/sh -c 'env PATH=$PATH:%NODE_PATH% pm2 delete all'
ExecStop=/bin/sh -c 'env PATH=$PATH:%NODE_PATH% pm2 kill'

[Install]
WantedBy=multi-user.target
