[Unit]
Description=PM2 next gen process manager for Node.js
After=network.target remote-fs.target

[Service]
Type=forking
User=%USER%

ExecStart=%PM2_PATH% resurrect
ExecReload=%PM2_PATH% reload all

ExecStop=%PM2_PATH% dump
ExecStop=%PM2_PATH% delete all
ExecStop=%PM2_PATH% kill

[Install]
WantedBy=multi-user.target
